.container {
  padding: 0;
}

.header {
  font-weight: 600; 
  color: #5BBCF2;
  font-size: 16px;
  margin-bottom: 0;
  // margin-top: 15px;
}

.sub-header {
  font-size: 10px;
  color: #999999;
  margin: 0;
}

.collapsing {
  transition: none;
}