<div class="boxcard" type="button" data-toggle="collapse" data-target="#collapse<%= locals[:box][:name].gsub(" ", "") %>" aria-expanded="true" aria-controls="collapseOne">
  <div class="boxcard-left">
    <h3 class="box-name"><%= locals[:box][:name].upcase %></h3>
    <% box_size = Box.find_by(name: locals[:box][:name]) %>
    <h6 id="box-size"><%= "#{box_size.width / 10.0}x#{box_size.depth / 10.0}x#{box_size.height / 10.0}" %> | <%= "#{box_size.weight_limit / 1000} kg" %></h6>
  </div>

  <div class="boxcard-right">
     <% if locals[:box][:contains_fragile] %> <span class="fragile-tag-full">fragile</span> <% end %>
    <div class="tick-box">
      <i class="fas fa-check d-none"></i>
    </div>
  </div>
</div>
