<% if @order.packed == false %>
  <%= link_to order_path(@order), method: :patch, data: { confirm: "Are you sure?" } do %>
  <div class="footer mt-4">
    <% if params[:action] == "show" %>
      <h3>CONFIRM</h3>
    <% end %>
  </div>
  <% end %>
<% end %>
