<div class="item-card">
  <p>1x Sweet Jam Present</p>
  <div class="item-card-right">
    <p class="fragile-tag-empty">fragile</p>
    <div class="tick-box">
      <p class="d-none">✔</p>
    </div>
  </div>
</div>
