<div class="item-card collapse" id="collapse<%= locals[:box][:name].gsub(" ", "") %>" data-parent="#boxesAccordion">
  <p>1x <%= locals[:item].name %></p>
  <div class="item-card-right">
    <% if locals[:item].fragile? %>
      <p class="fragile-tag-empty">fragile</p>
    <% end %>
    <div class="tick-box">
      <p class="tick d-none">✔</p>
    </div>
  </div>
</div>
