<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex align-items-center justify-content-center">
  <%  if params[:action] == "show" %>
    <%= link_to orders_path, class: "navbar-brand" do %>
      <p class="mb-0"><i class="fas fa-arrow-left"></i></p>
    <% end %>

    <div class="d-flex flex-column justify-content-center">
    <% order = Order.find(params[:id]) %>
      <h1 class="header text-center">ORDER NO. <%= order.name  %> </h1>
      <p class="sub-header text-center">Order created <%= order.created_at.strftime("%b %d, %Y %H:%M") %> </p>
    </div>
  <% end %>


  <% if params[:action] == "index" %>
    <!-- <div class="d-flex justify-content-center align-items-center"> -->
      <h1 class="header text-center">ORDERS</h1>
    <!-- </div> -->
  <% end %>






  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% unless user_signed_in? %>
        <!-- <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li> -->
      <% end %>
    </ul>
  </div>
</div>
