<div class="orders-list">
  <h4>Orders to be shipped</h4>
</div>
<% @orders.each do |order| %>
      <div id="small-card">
        <div class="card-product">
          <div class="order-weight d-flex flex-column justify-content-between">
            <h3><%= link_to order.name, order_path(order) %></h3>
            <p><% %>3kg</p>
          </div>
          <div class="card-product-infos">
            <p class="order-date"><%= order.created_at.strftime("%b %d, %Y") %></p>
            <p class="order-time"><%= order.created_at.strftime("%H:%M") %></p>
            <% if order.packed %>
                <i class="fas fa-check"><p>Packed</p></i>
            <% end %>
          </div>
        </div>
      </div>
<% end %>

