<div class="container accordion" id="boxesAccordion">
  <% @boxes_hash[:boxes].each do |box| %>
    <%= render "shared/boxcard", :locals => {box: box} %>
    <div class="items">
      <% box[:items].each do |item| %>
        <%= render 'shared/item_card', :locals => {item: item, box: box} %>
      <% end %>
    </div>
  <% end %>

</div>
