.boxcard {
  background-color: #5BBCF2;
  height: 60px;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-name {
  font-size: 16px;
  color: white;
  margin: 0;
}

.box-header {
  // width: 30%;
  margin: 0;
}

.fa-cube {
  color: rgb(255, 169, 169);
  margin: 0;
}

#threed {
  color: white;
  font-size: 12px;
  margin: 0;
  font-weight: 700;
}

#box-size  {
  color: white;
  font-size: 12px;
  margin: 0;
}

.boxcard-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  p {
    margin: 0;
  }
}
