.boxcard {
  background-color: #72BBFE;
  height: 60px;
  width: 100%;
  padding: 10px 10px;
  margin:  5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-name {
  font-size: 16px;
  color: white;
  margin: 0;
}

.box-header {
  // width: 30%;
  margin: 0;
}

.fa-cube {
  color: rgb(255, 169, 169);
  margin: 0;
}

#box-size  {
  color: white;
  font-size: 12px;
  margin: 0;
}

.boxcard-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  p {
    margin: 0;
  }
}
