.card-product {
  // overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  text-decoration: none;
}

.card-product h3 {
  color: #636363;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  a {
    color: #636363;
  }
  a:hover {
    text-decoration: none;
  }
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.orders-list {
  background-color: #5BBCF2;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  h4 {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
}

.fa-check {
  color: green;
}

.order-date {
  font-weight: 700;
  margin: 0;
}

.order-time {
  text-align: right;
}
