.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer {
  min-height: 70px;
  a {
    color: #FFFFFF;
  }
  background-color: #009AED;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px;
  h3 {
    margin: 0;
    font-size: 20px;
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
