.fragile-tag-empty {
  color: #F46969;
  border: 2px solid #F46969;
  border-radius: 20px;
  padding: 3px 15px 3px 15px;
  font-size: 12px;
  margin-right: 10px !important;
}

.fragile-tag-full {
  color: white;
  background-color: #F46969;
  border: 2px solid #F46969;
  border-radius: 20px;
  padding: 3px 15px 3px 15px;
  font-size: 12px;
  margin-right: 10px;
}
