// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "boxcard";
@import "item_card";
@import "fragile_tag";
@import "tick_box";

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}