.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-arrow-left {
  position: absolute;
  left: 17px;
  top: 17px;
  color:  #5BBCF2;
}
