.tick-box {
  background-color: #F0F9FF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  i {
    font-size: 18px;
    color: green;
  }
}
